$rounded-borders: true;
$links-to-buttons : true;
$neutral-colors: true;

@mixin rounded-borders {
    @if $rounded-borders {
        border-radius: 4px !important;
    }
}

@mixin button-outline {
    @if $links-to-buttons {
        color: #333;
        border-color: rgb(65, 42, 42);
        background-color: unset;
        border-width: 1px;
        border-style: solid;
        @include rounded-borders();

        &:hover {
            color: #333;
            background-color: #fafafa;
            border-color: #666;
            background-color: unset;
        }
    }
}


#simplify_checkbox {
    position: relative;
    display: block;
    width: 230px;
    margin-left: auto;
    margin-right: 0px;
    padding: 8px 10px 1px 10px;
    @include button-outline();
    float: right;
    bottom: 20px;


    label {
        width: 60px;
        height: 34px;
        display: inline-block;
        position: relative;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        input:checked+.slider:before {
            transform: translateX(26px);
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input+.slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
        }

        .slider-label {
            position: absolute;
            margin-left: 60px;
            width: 160px;
            padding-top: 8px
        }
    }
}

.simplify_moodle {

    /* In course */
    fieldset#id_groups,
    fieldset#id_rolerenaming,
    fieldset#id_tagshdr,
    fieldset#id_completionhdr,
    fieldset#id_filehdr,
    fieldset#id_appearancehdr,
    div#fitem_id_idnumber,
    div#fitem_id_visible {
        display: none;
    }

    /* In Forum */
    fieldset#id_availability,
    fieldset#id_attachmentswordcounthdr,
    fieldset#fitem_id_trackingtype,
    fieldset#fitem_id_trackingtype,
    fieldset#id_modstandardratings,
    fieldset#id_discussionlocking,
    fieldset#id_blockafterheader,
    fieldset#id_grade_forum_header,
    fieldset#id_availabilityconditionsheader,
    fieldset#id_competenciessection {
        display: none;

    }

    /* Activities */
    fieldset#id_modstandardelshdr,
    fieldset#id_tagshdr,
    fieldset#id_competenciessection

    /* File */
    &#page-mod-resource-mod {

        fieldset#id_modstandardelshdr,
        fieldset#id_availabilityconditionsheader {
            display: none;
        }
    }

    /* Submissions */

    &#page-mod-assign-mod {

        fieldset#id_groupsubmissionsettings,
        fieldset#id_notifications {
            display: none;
        }
    }

    /* Page */
    &#page-mod-page-mod #id_appearancehdr {
        display: none;
    }

}

@if $neutral-colors {
    #nav-drawer {

        .list-group-item,
        .list-group-item-action {
            color: var(--primary);
            padding-left: 20px;

            .fa {
                font-size: .9375rem;
            }

            .fa:before {
                color: #444;
            }

            &:hover {
                border-left: 4px solid #666;
                padding-left: 17px;
            }
        }

        .list-group-item.active {
            background-color: #eee;
            border-left: 4px solid #666;
            border-top: 0px solid gray;
            border-right: 0px solid gray;
            color: var(--primary);
            padding-left: 17px;

            .fa:before {
                color: #444;
            }
        }

        .list-group-item[data-key="mycourses"] {
            background-color: transparent;
            text-transform: uppercase;
            font-weight: 200;
            border-left: 0px solid gray;
            border: 0px solid gray;
            padding-left: 20px;
            color: #666;
            padding-bottom: 8px;
        }
    }

    #page-navbar {

        .breadcrumb li span.no-link {
            background-color: #eee;
            border-color: #eee;
        }

        .breadcrumb li.breadcrumb-item>* {
            background-color: #eee;
            border-color: #eee;
        }

        .breadcrumb li.breadcrumb-item>* {
            color: var(--primary);
        }

    }

    .dropdown-menu .dropdown-item:active,
    .dropdown-menu .dropdown-item:hover,
    .dropdown-menu .dropdown-item:focus,
    .dropdown-menu .dropdown-item:focus-within {
        background-color: transparent;
    }


    .dropdown-menu .dropdown-item a,
    .dropdown-menu a.dropdown-item {
        color: #222;
    }

    .dropdown-menu .dropdown-item a:active,
    .dropdown-menu .dropdown-item a:hover,
    .dropdown-menu .dropdown-item a:focus,
    .dropdown-menu .dropdown-item a:focus-within,
    .dropdown-menu a.dropdown-item:active,
    .dropdown-menu a.dropdown-item:hover,
    .dropdown-menu a.dropdown-item:focus,
    .dropdown-menu a.dropdown-item:focus-within {
        background-color: #f5f5f5;
        color: #222;
    }

    .aabtn.focus,
    .btn-link.focus,
    .nav-link.focus,
    .atto_link_button.focus,
    [role="button"].focus,
    .list-group-item-action.focus,
    input[type="checkbox"].focus,
    input[type="radio"].focus,
    input[type="file"].focus,
    input[type="image"].focus,
    .sr-only-focusable.focus,
    a.dropdown-toggle.focus,
    .modal-dialog[tabindex="0"].focus,
    .moodle-dialogue-base .closebutton.focus,
    button.close.focus,
    .form-autocomplete-selection.focus,
    .aabtn:focus,
    .btn-link:focus,
    .nav-link:focus,
    .atto_link_button:focus,
    [role="button"]:focus,
    .list-group-item-action:focus,
    input[type="checkbox"]:focus,
    input[type="radio"]:focus,
    input[type="file"]:focus,
    input[type="image"]:focus,
    .sr-only-focusable:focus,
    a.dropdown-toggle:focus,
    .modal-dialog[tabindex="0"]:focus,
    .moodle-dialogue-base .closebutton:focus,
    button.close:focus,
    .form-autocomplete-selection:focus {
        box-shadow: none;
    }

    aside section.card {
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

}