/* Settings */

$links-to-buttons : true; // Wandelt Links in Buttons um; Färbt Submit-Buttons grün, fügt Symbole (Submit, Cancel) hinzu
$header-without-border: true;
/* Nimmt dem Header den Rand. */
$headings-without-background: true;
/* Überschriften haben im SPH-Layout keinen Hintergrund. Dies gleicht Moodle optisch an das SPH an. */
$rounded-borders: true;
/* Gibt vielen Elementen rounded-borders - Wie im Schulportal-PaedOrg */
$move-buttons: true;
/* Färbt die Buttons zum Verschieben von Sektionen und Aktivitäten grau */
$weeksrev: true;
/* Zahlreiche Detailsverbesserungen für das umgekehrte Wochenformat */
$activities: true;
/* Detailsverbesserungen für verschiedene Aktivitäten */
$neutral-colors-in-header: true;
/* Entfernt die Schulfarben aus dem Header */
$neutral-colors-in-content: true;
/* Entfernt doe SPH-Farben aus dem Content */
$neutral-color-primary: #2e64a9;
$neutral-color-secondary: rgb(192, 208, 229);
$activity-navigation: true;
/* Entfernt die Schulfarben aus dem Inhaltsbereich und aus Blöcken */
$meruef: true;
/* Färbt Kursüberschriften nach dem Meruef-Prinzip (erfordert Javascript)*/
$administration: true;
/* Färbt Navigation und Breadcrumb in neutralen Farben */
$neutral-colors: true;

$color-button-green-background: #5cb85c;
$color-button-green-border: #4cae4c;
$color-button-green-hover-background: #449d44;
$color-button-green-hover-border: #398439;

/* Mixins */
@mixin rounded-borders {
    @if $rounded-borders {
        border-radius: 4px !important;
    }
}

@mixin button {
    @if $links-to-buttons {
        padding: 5px 10px 5px 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.42857143;
        @include rounded-borders;
        vertical-align: middle;
        border-width: 1px;
        border-style: solid;

        &:hover {
            text-decoration: none;
            box-shadow: 2px 2px 3px rgba(200, 200, 200, 0.2);
            text-decoration: none;
        }

        &:focus {
            box-shadow: 0 0 0 2px rgba(100, 100, 100, 0.4);
        }
    }
}

@mixin button-yellow {
    @if $links-to-buttons {
        background-color: #f0ad4e;
        border-color: #eea236;
        color: white !important;

        &:hover {
            background-color: #d58512;
            border-color: #d58512;
        }
    }
}

@mixin button-blue {
    @if $links-to-buttons {
        background-color: #337ab7;
        border-color: #2e6da4;
        color: white;


        &:hover {
            background-color: #286090;
            border-color: #204d74;
        }
    }
}

@mixin button-green {
    @if $links-to-buttons {
        color: #fff !important;
        background-color: $color-button-green-background;
        border-color: $color-button-green-border;
    }

    &:hover {
        background-color: $color-button-green-hover-background;
        border-color: $color-button-green-hover-border;
    }
}

@mixin button-red {
    @if $links-to-buttons {
        color: #fff !important;
        background-color: #b93838;
        border-color: #580606;
    }
}

@mixin button-grey {
    @if $links-to-buttons {
        color: #fff !important;
        background-color: #707070;
        border-color: #333333;
    }
}

@mixin button-outline {
    @if $links-to-buttons {
        color: #333;
        border-color: rgb(65, 42, 42);
        background-color: unset;
        border-width: 1px;
        border-style: solid;
        @include rounded-borders();

        &:hover {
            color: #333;
            background-color: #fafafa;
            border-color: #666;
            background-color: unset;
        }
    }
}

@mixin button-outline-grey {
    @include button-outline;

    @if $links-to-buttons {
        color: #333;
        border-color: #ccc;
        background-color: #eee;
        @include rounded-borders();

        &:hover {
            color: #333;
            border-color: #666;
            background-color: unset !important;
        }
    }
}

@mixin button-outline-green {
    @include button-outline;

    @if $links-to-buttons {
        color: $color-button-green-border;
        border-color: $color-button-green-border;
        @include rounded-borders();

        >&:hover {
            color: $color-button-green-border;
            background-color: $color-button-green-hover-background;
            border-color: $color-button-green-hover-border;
            background-color: unset !important;
        }
    }
}

@mixin button-outline-yellow {
    @include button-outline;

    @if $links-to-buttons {
        color: #eea236;
        border-color: #eea236;
        @include rounded-borders();

        &:hover {
            color: #eea236;
            border-color: #d58512;
        }
    }
}

@mixin button-outline-red {
    @include button-outline;

    @if $links-to-buttons {
        color: #b93838;
        border-color: #b93838;
        @include rounded-borders();

        &:hover {
            color: #b93838;
            border-color: #580606;
            background-color: unset !important;
        }
    }
}

@mixin fontawesome-icon($icon, $type: "button") {
    @if $links-to-buttons {
        @if $type=="button" {
            @-moz-document url-prefix() {
                header#page-header.row {
                    margin-top: 150px;
                }
            }

            &:before {
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: FontAwesome;
                font-weight: 900;
                content: "#{$icon}";
                padding-right: 5px;
            }
        }

        @if $type=="span" {
            position: relative;

            input {
                padding-left: 20px;

            }

            &:after {
                font-family: FontAwesome;
                content: "#{$icon}";
                color: white;
                font-size: 13px;
                position: absolute;
                left: 8px;
                top: 5px;
                pointer-events: none;
            }
        }
    }
}


@mixin icon-plus($type: "button") {
    @include fontawesome-icon("\f067", $type)
}

@mixin icon-cancel($type: "button") {
    @include fontawesome-icon("\f00d", $type)
}


@mixin icon-save($type: "button") {
    @include fontawesome-icon("\f0c7", $type)
}

@mixin move-button {
    @if $move-buttons {
        color: lightgrey;
        opacity: 0.8;
        border: 1px solid lightgray;
        border-radius: 20px;
        padding: 2px 0px 0px 2px;
        position: relative;
        bottom: 4px;
        width: 26px;
        height: 26px;
        margin-right: 3px;
        display: inline-block;
    }
}


/*  Buttons */
@if $links-to-buttons {
    .btn {
        @include button
    }

    .btn-secondary {
        @include button-grey;
    }

    .btn-outline {
        @include button-outline;
    }

    .btn-primary {
        @include button-blue;
    }

    #region-main div.buttons,
    #region-main div.singlebutton {
        text-align: center;
    }
}


/* Header */
@if $header-without-border {
    header {
        margin-bottom: 12px;
        overflow: visible;

        >div.col-12 {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

        >div.col-12 .card-body {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

        .card {
            border: 0px solid grey;
            background-color: unset;
        }

        h1 {
            font-size: 36px;
            margin-top: 20px;
            margin-bottom: 10px;
            line-height: 1.1;
        }

        .context-header-settings-menu .dropdown>a {
            @include button;
            @include button-yellow;
            padding: 5px;
        }

    }
}

/* Globals */

/* Cards */
#region-main {

    section.card,
    .card {
        @include rounded-borders;

        .btn-primary {
            @include button-blue;
        }
    }
}

/* Blöcke 
-------------       
*/
section[data-region=blocks-column] {
    .card {
        @include rounded-borders
    }

    /* Block "Neue Ankündigungen" */

    .block_news_items {
        .post {
            border-top: 1px solid lightgrey;
            padding-top: 10px;
            margin-top: 10px;
        }

        .head {
            display: flex;
            font-size: 0.8rem;
        }

        .date {
            margin-right: 10px;
        }

    }
}






/* 
Seiten
===========================================
*/

/* Startseite (Dashboard oder Mein Index) */

@if $headings-without-background {

    #page-site-index #region-main,
    #page-my-index #region-main {
        border: 0px solid black;
        padding-top: 0px;
    }


}

/* Dashboard (my-index) */

#page-my-index {

    #page-content {
        header .singlebutton .btn-secondary {
            @include button-green;
        }

        .card-body {
            position: relative;

            @at-root #page-my-index.editing .card-body h5.card-title {
                padding-left: 25px;
            }
        }

        // Blöcke im Dashboard verschieben
        @if $move-buttons {
            .moodle-core-dragdrop-draghandle {
                @include move-button;
                position: absolute;
                left: 4px;
                top: 4px;
            }
        }

        .action-menu .dropdown-toggle {
            @if $links-to-buttons {
                @include button-outline;
                padding: 3px;
                position: relative;
                top: -11px;
                right: -12px;
            }
        }
    }
}

/* Meine Kurse (site-index */

#page-site-index {

    @if $links-to-buttons {
        .section-modchooser-link {
            @include button;
            @include button-outline-green;
            padding: 3px;
            margin-right: 10px;

            span {
                padding-bottom: 5px;
                padding-right: 5px;
            }
        }

        #frontpage-course-list~.buttons>.singlebutton button {
            @include button-green;
            @include icon-plus();
        }
    }

    #page-content h2:first-child {
        margin-top: 1rem;
    }

    .page-header-headings {
        display: none;
    }

    #frontpage-course-list,
    #frontpage-available-course-list,
    #page-course-index-category,
    #frontpage-available-course-list,
    #site-news-forum,
    #frontpage-course-list,
    #frontpage-category-names,
    #frontpage-category-combo {

        h2 {
            border-bottom: 1px solid rgba(0, 0, 0, .125);
            background-color: transparent;
            border-top: 0px solid black;
            color: #343a40;
        }

        .sitetopic {
            padding: 0px !important;
        }
    }
}


/* Calendar */

#page-calendar-view {

    #region-main {
        border: 0px solid grey;
    }

    @if $links-to-buttons {
        .header .btn-secondary {
            @include button-green;
            @include icon-plus();
        }
    }

    .modal button[data-action='save'] {
        @include button-green;
        @include icon-save();
    }

    .arrow_link.previous {
        @include button;
        @include button-outline-grey;
        width: 120px;
        margin-right: calc(30% - 120px)
    }

    .arrow_link.next {
        @include button;
        @include button-outline-grey;
        width: 120px;
        margin-left: calc(30% - 120px)
    }

    .calendarwrapper {
        margin-top: 30px;
    }
}




/* Kurse
==================================
*/
.path-course {

    #region-main {
        border-width: 0px !important;
    }

    /* Sektionen */
    @if $rounded-borders {
        .course-content ul {
            // Sections

            li.section.main,
            li.section.main:last-child {

                border: 1px solid #ddd;
                @include rounded-borders;
                margin-bottom: 1rem;

            }

            li.section:nth-child(2n),
            li.section:nth-child(2n+1) {
                padding-top: 1rem !important;
                padding-bottom: 1rem !important;
            }

            .section .activity .mod-indent-outer {
                padding-left: 3rem;
                padding-top: 4px;
            }
        }
    }

    /* Headings */

    @if $headings-without-background {

        h3.sectionname {
            font-size: 30px;
            background-color: transparent;
            padding-top: 10px;
            color: #333;
        }

        @at-root .path-course:not(.editing) h3.sectionname {
            padding-left: 1.5rem;
        }
    }

    /* Verfügbarkeit */

    .section .availabilityinfo {
        font-size: 0.8rem;
        margin-top: -3px;

        .badge-info {
            display: inline;
            font-size: 0.7rem;
            background-color: grey;
            padding: 2px 4px 0px 4px;
        }

        strong {
            font-size: 0.7rem;
            color: white;
            background-color: grey;
            padding: 2px 4px 0px 4px;
        }
    }

    /* Teilnehmer (Nutzer einschreiben, ...) */
    &.path-user {
        .enrolusersbutton {
            .btn-secondary {
                @include button-green;
                @include icon-plus();
            }
        }

        #region-main-box {
            .action-menu .dropdown-toggle {
                @include button;
                @include button-yellow;
            }
        }
    }

    // Kursformat: weeksrev

    @if $weeksrev {

        ul.weeksrev {


            .section.main.future,
            .section.main:not(.future):not(.current):not(#section-0) {
                border: 1px dotted lightgrey;
                background-color: #fafafa;

                h3.sectionname {
                    font-size: 20px;
                    font-style: italic;
                }
            }

            @at-root #page-course-view-weeksrev:not(.editing) ul.weeksrev {
                section.main:last-child .sectionname:before {
                    content: "Erste Woche:";
                    color: #666;
                }

                .section.current {
                    box-shadow: 1px 1px 0px 2px var(--primary);
                    margin-bottom: 120px !important;

                    .sectionname:before {
                        content: "Aktuelle Woche:";
                        color: #666;

                    }
                }

            }

            @at-root #page-course-view-weeksrev.editing ul.weeksrev {
                .section:nth-child(2) .sectionname:before {
                    content: "Erste Woche:";
                    color: #666;
                }

                .section.current {
                    box-shadow: 1px 1px 0px 2px var(--primary);
                    margin-top: 120px !important;

                    .sectionname:before {
                        content: "Aktuelle Woche:";
                        color: #666;

                    }


                }

            }
        }
    }
}

/* Kurse editieren */

.path-course.editing {

    #page-header .singlebutton .btn-primary {
        @include button-outline;
    }

    @at-root .path-course:not(.editing) {

        #page-header .singlebutton .btn-primary {
            @include button-green;
        }
    }

    /* Aktivität erstellen  */

    @if $links-to-buttons {
        .section-modchooser-link {
            @include button;
            @include button-outline-green;
            padding: 3px;
            margin-right: 10px;

            span {
                padding-bottom: 5px;
                padding-right: 5px;
            }
        }
    }

    /* Neue Sektionen hinzufügen */
    #changenumsections {
        margin-top: 25px;
        text-align: center;
    }

    .add-sections {
        @include button;
        @include button-green;
        display: inline-block;
        height: 35px;
    }

    @if $links-to-buttons {

        /* Section edit link */
        .section_action_menu a.dropdown-toggle {
            position: relative;
            bottom: 20px;
            @include button;
            @include button-outline-yellow;
        }

        /* Activity edit link */
        .activity .action-menu a.dropdown-toggle {
            position: relative;
            bottom: 3px;
            @include button;
            @include button-outline;
        }

        .togglecompletion button.btn {
            border: unset;
            border-radius: unset important !important;
            width: 22px;
            height: 22px;
            vertical-align: unset;
            font-weight: unset;
        }
    }

    @if $move-buttons {

        // Sektionen verschieben

        .section .left {
            padding-top: 0px !important;

            .moodle-core-dragdrop-draghandle {
                @if $move-buttons {
                    @include move-button();
                    top: -21px;
                    left: -3px;
                }
            }
        }

        // Aktivitäten verschieben

        .section .activity .editing_move {
            @if $move-buttons {
                @include move-button();
                position: absolute;
                top: 4px
            }
        }

        .actions {
            padding-top: 4px;
        }

        aside .block .moodle-core-dragdrop-draghandle {
            @include move-button();
            position: absolute;
            top: 4px;
            left: 4px;
        }

        aside .action-menu .dropdown-toggle {
            margin-top: -4px;
            margin-right: -10px;
            padding: 2px 4px 0px 4px;


            @if $links-to-buttons {
                @include button-outline-grey;
            }
        }

        @at-root.editing section[data-region="blocks-column"] .card {
            padding-top: 20px;
        }

        @at-root.editing aside .block h5.card-title {
            padding: 26px;

        }
    }
}




/* Aktivitäten
    --------------
    */

@if $activities {
    .path-mod {

        @if $activity-navigation {

            /* Activity navigation */
            a#next-activity-link {
                @include button;
                @include button-outline-green;
            }

            a#prev-activity-link {
                @include button;
                @include button-outline-red;
            }

            .activity-navigation {
                padding: 10px;
                background-color: #fafafa;
                border: 1px solid grey;
                @include rounded-borders();
                box-shadow: 1px 2px 4px rgba(100, 100, 100, 0.2);
            }


            .activity-navigation #jump-to-activity {
                display: none;
            }
        }

        /* Aktivität Feedback */

        &#page-mod-feedback-edit,
        &#page-mod-feedback-complete {

            #feedback_edit_form {
                padding-top: 2rem;
            }

            #feedback_edit_form,
            #feedback_complete_form {

                .multichoice-vertical .form-check-inline {
                    margin-bottom: 1.2rem;
                }

                .multichoice-horizontal .form-check-inline {
                    margin-right: 2rem;
                    margin-bottom: 2rem;
                    @include button;
                    @include button-outline();
                }

                .row.feedback_itemlist {
                    border: 1px solid #ddd;
                    @include rounded-borders;
                }

                .row.feedback_itemlist .col-form-label {
                    padding: 10px;
                    font-weight: 700;
                }

                .row .felement {
                    padding: 10px;
                }

                .btn-secondary {
                    @include button-yellow;
                }

                .btn-primary {
                    @include button-green;
                }
            }
        }

        &#page-mod-feedback-view {
            .complete-feedback .btn-secondary {
                @include button-green;
                @include icon-plus();
            }

        }


        &#page-mod-page-view {
            .modified {
                font-size: 0.8em;
                text-align: right;
            }
        }

        &#page-mod-assign-view {
            .submissionaction {
                .btn-secondary {
                    @include button-green;
                    @include icon-plus;
                }
            }
        }

        &#page-mod-assign-editsubmission {
            #fgroup_id_buttonar {

                .form-group.fitem:first-child span {
                    input {
                        @include button-green;
                    }

                    @include icon-plus("parent-span");
                }

                .form-group.fitem.btn-cancel span {
                    input {
                        @include button-red;
                    }

                    @include icon-cancel("parent-span");
                }
            }
        }

        &#page-mod-quiz-view #region-main-box {
            .action-menu a.dropdown-toggle {
                @include button;
                @include button-yellow;
            }

            .quizattempt {
                .singlebutton button {
                    @include button-green;
                }

                .continuebutton button {
                    @include button-red;
                }
            }
        }

        &#page-mod-quiz-attempt #region-main {
            .mod_quiz-next-nav {
                @include button-green;
            }
        }

        &#page-mod-quiz-edit {
            .section {
                .add-menu-outer a.dropdown-toggle {
                    @include button;
                    @include button-outline-green();
                    @include icon-plus();
                    font-size: 12px;
                    padding: 3px 5px 3px 5px;
                }
            }

        }

        &#page-mod-forum-view {
            #region-main {
                thead {
                    background-color: #fafafa;
                }

                .btn-primary {
                    @include button-green;
                    @include icon-plus;
                }

                #id_cancelbtn {
                    @include button-red;
                    @include icon-cancel();
                }


                #id_advancedadddiscussion {
                    @include button-yellow;
                }
            }
        }

        &#page-mod-forum-discuss {
            #region-main {
                border: unset;

                .discussionname {
                    display: none;
                }


                .forumpost {
                    border: 1px solid grey;
                    @include rounded-borders();

                    [data-region-content="forum-post-core-subject"] {
                        font-size: 1.2em;
                    }

                    .post-actions {
                        padding: 10px;

                        .btn {
                            @include button;
                            @include button-outline-grey;
                            margin-left: 10px;
                        }

                        .btn:last-child {
                            @include button;
                            @include button-outline-green;
                            @include icon-plus;
                        }
                    }
                }

                [data-content="inpage-reply-form"] {
                    .btn-primary {
                        @include button-green;
                        @include icon-plus;
                    }

                    .btn-secondary {
                        @include button-red;
                        @include icon-cancel;
                    }

                    [data-action="forum-advanced-reply"] {
                        @include button;
                        @include button-yellow;

                    }

                }
            }
        }
    }
}

/* Inhalt erstellen und Editieren */

#page-course-edit {
    #id_saveandreturn {
        @include button-green;
    }

    #id_saveanddisplay.btn-primary {
        @include button-yellow;
    }

    #id_cancel.btn-secondary {
        @include button-red;
    }
}




/* Einheitliche Farben 
-----------------------
*/

@if $neutral-colors-in-header {


    body .ThreeRowNav .top-row {
        background-color: $neutral-color-primary !important;
        border-top-color: $neutral-color-secondary !important;
    }

    body .ThreeRowNav .bottom-row {
        background-color: $neutral-color-primary !important;
    }

    body footer#page-footer {
        background-color: $neutral-color-primary !important;
        border-top-color: $neutral-color-secondary !important;
    }

    .ThreeRowNav .bottom-row .btn-light {

        &:focus,
        &:hover {
            color: $neutral-color-primary !important;

            .ico-elem {
                background-color: $neutral-color-primary !important;
            }
        }

        .ico-elem {

            .bar,
            &:before {
                background: $neutral-color-secondary !important;
            }

            &:after {
                border-color: $neutral-color-secondary !important;
            }
        }
    }

}

@if $neutral-colors-in-content {
    body section.card {
        border: 1px solid rgba(0, 0, 0, 0.125)
    }
}

@if $meruef {

    $color-klassenkurs: #62A87C;
    $color-fachkurs: #54C6EB;
    $color-themenkurs: #FF934F;
    $color-schulkurs: #B33951;

    /* Klassenkurse
    ---------------
    */
    #navbarSupportedContent .klassenkurs,
    #nav-drawer .klassenkurs {
        border-left: 4px solid $color-klassenkurs;
    }

    .card.klassenkurs {
        .multiline {
            background-color: $color-klassenkurs;
            padding: 4px 10px 0px 10px;
            color: white;
            border-radius: 4px;
        }
    }

    #navbarSupportedContent .fachkurs,
    #nav-drawer .fachkurs {
        border-left: 4px solid $color-fachkurs;
    }

    .card.fachkurs {
        .multiline {
            background-color: $color-fachkurs;
            padding: 4px 10px 0px 10px;
            color: white;
            border-radius: 4px;
        }
    }

    #navbarSupportedContent .themenkurs,
    #nav-drawer .themenkurs {
        border-left: 4px solid $color-themenkurs;
    }

    .card.themenkurs {
        .multiline {
            background-color: $color-themenkurs;
            padding: 4px 10px 0px 10px;
            color: white;
            border-radius: 4px;
        }
    }

    #navbarSupportedContent .schulkurs,
    #nav-drawer .schulkurs {
        border-left: 4px solid $color-schulkurs;
    }

    .card.schulkurs {
        .multiline {
            background-color: $color-schulkurs;
            padding: 4px 10px 0px 10px;
            color: white;
            border-radius: 4px;
        }
    }

    .fachkursliste {
        margin: 20px;
    }

}

@if $administration {
    .block_admin_bookmarks .footer {
        margin-top: 1rem;

        a {
            margin-top: 1rem;
            @include button;
            @include button-outline();
        }
    }
}

/* Moodle simplify */

#simplify_checkbox {
    position: relative;
    display: block;
    width: 230px;
    margin-left: auto;
    margin-right: 0px;
    padding: 8px 10px 1px 10px;
    @include button-outline();
    float: right;
    bottom: 20px;


    label {
        width: 60px;
        height: 34px;
        display: inline-block;
        position: relative;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        input:checked+.slider:before {
            transform: translateX(26px);
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input+.slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
        }

        .slider-label {
            position: absolute;
            margin-left: 60px;
            width: 160px;
            padding-top: 8px
        }
    }
}

.simplify_moodle {

    /* In course */
    fieldset#id_groups,
    fieldset#id_rolerenaming,
    fieldset#id_tagshdr,
    fieldset#id_completionhdr,
    fieldset#id_filehdr,
    fieldset#id_appearancehdr,
    div#fitem_id_idnumber,
    div#fitem_id_visible {
        display: none;
    }

    /* In Forum */
    fieldset#id_availability,
    fieldset#id_attachmentswordcounthdr,
    fieldset#fitem_id_trackingtype,
    fieldset#fitem_id_trackingtype,
    fieldset#id_modstandardratings,
    fieldset#id_discussionlocking,
    fieldset#id_blockafterheader,
    fieldset#id_grade_forum_header,
    fieldset#id_availabilityconditionsheader,
    fieldset#id_competenciessection {
        display: none;

    }

    /* Activities */
    fieldset#id_modstandardelshdr,
    fieldset#id_tagshdr,
    fieldset#id_competenciessection

    /* File */
    &#page-mod-resource-mod {

        fieldset#id_modstandardelshdr,
        fieldset#id_availabilityconditionsheader {
            display: none;
        }
    }

    /* Submissions */

    &#page-mod-assign-mod {

        fieldset#id_groupsubmissionsettings,
        fieldset#id_notifications {
            display: none;
        }
    }

    /* Page */
    &#page-mod-page-mod #id_appearancehdr {
        display: none;
    }

}

@if $neutral-colors {
    #nav-drawer {

        .list-group-item,
        .list-group-item-action {
            color: var(--primary);
            padding-left: 20px;

            .fa {
                font-size: .9375rem;
            }

            .fa:before {
                color: #444;
            }

            &:hover {
                border-left: 4px solid #666;
                padding-left: 17px;
            }
        }

        .list-group-item.active {
            background-color: #eee;
            border-left: 4px solid #666;
            border-top: 0px solid gray;
            border-right: 0px solid gray;
            color: var(--primary);
            padding-left: 17px;

            .fa:before {
                color: #444;
            }
        }

        .list-group-item[data-key="mycourses"] {
            background-color: transparent;
            text-transform: uppercase;
            font-weight: 200;
            border-left: 0px solid gray;
            border: 0px solid gray;
            padding-left: 20px;
            color: #666;
            padding-bottom: 8px;
        }
    }

    #page-navbar {

        .breadcrumb li span.no-link {
            background-color: #eee;
            border-color: #eee;
        }

        .breadcrumb li.breadcrumb-item>* {
            background-color: #eee;
            border-color: #eee;
        }

        .breadcrumb li.breadcrumb-item>* {
            color: var(--primary);
        }

    }

    .dropdown-menu .dropdown-item:active,
    .dropdown-menu .dropdown-item:hover,
    .dropdown-menu .dropdown-item:focus,
    .dropdown-menu .dropdown-item:focus-within {
        background-color: transparent;
    }


    .dropdown-menu .dropdown-item a,
    .dropdown-menu a.dropdown-item {
        color: #222;
    }

    .dropdown-menu .dropdown-item a:active,
    .dropdown-menu .dropdown-item a:hover,
    .dropdown-menu .dropdown-item a:focus,
    .dropdown-menu .dropdown-item a:focus-within,
    .dropdown-menu a.dropdown-item:active,
    .dropdown-menu a.dropdown-item:hover,
    .dropdown-menu a.dropdown-item:focus,
    .dropdown-menu a.dropdown-item:focus-within {
        background-color: #f5f5f5;
        color: #222;
    }

    .aabtn.focus,
    .btn-link.focus,
    .nav-link.focus,
    .atto_link_button.focus,
    [role="button"].focus,
    .list-group-item-action.focus,
    input[type="checkbox"].focus,
    input[type="radio"].focus,
    input[type="file"].focus,
    input[type="image"].focus,
    .sr-only-focusable.focus,
    a.dropdown-toggle.focus,
    .modal-dialog[tabindex="0"].focus,
    .moodle-dialogue-base .closebutton.focus,
    button.close.focus,
    .form-autocomplete-selection.focus,
    .aabtn:focus,
    .btn-link:focus,
    .nav-link:focus,
    .atto_link_button:focus,
    [role="button"]:focus,
    .list-group-item-action:focus,
    input[type="checkbox"]:focus,
    input[type="radio"]:focus,
    input[type="file"]:focus,
    input[type="image"]:focus,
    .sr-only-focusable:focus,
    a.dropdown-toggle:focus,
    .modal-dialog[tabindex="0"]:focus,
    .moodle-dialogue-base .closebutton:focus,
    button.close:focus,
    .form-autocomplete-selection:focus {
        box-shadow: none;
    }

    aside section.card {
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

}