<script class="script-block">
    /* 
     * This Script adds a checkbox to simplify a Moodle-Formular
     * The values of the checbox are stored as cookie
     */
    class ScriptMoodleSimplify {

        constructor() {
            this.pages = ['page-course-edit',
                'page-mod-forum-mod',
                'page-mod-page-mod',
                'page-mod-assign-mod',
                'page-mod-resource-mod'
            ];
        }

        call() {
            function setCookie(key, value, expiry) {
                var expires = new Date();
                expires.setTime(expires.getTime() + (expiry * 24 * 60 * 60 * 1000));
                document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
            }

            function getCookie(key) {
                var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
                return keyValue ? keyValue[2] : null;
            }

            function eraseCookie(key) {
                var keyValue = getCookie(key);
                setCookie(key, keyValue, '-1');
            }

            function checked(checkbox, uid, prefix_class) {
                if (checkbox.checked) {
                    document.querySelector('body').classList.add(prefix_class);
                    setCookie(uid, "true", '365');
                } else {
                    document.querySelector('body').classList.remove(prefix_class);
                    setCookie(uid, "false", '365');
                }
            }

            function register_checkbox(uid, prefix_class) {
                var checkbox = document.getElementById("#checkbox_" + uid);
                checkbox.addEventListener("change", function() {
                    checked(checkbox, uid, prefix_class)
                }, false);
            }

            function create_checkbox(uid, prefix_class) {
                var target = document.getElementById("region-main");
                var html = '<div id="simplify_checkbox"><label  for="#checkbox_' + uid + '"><input id="#checkbox_' + uid + '" type="checkbox" data-on="Aktivieren" data-off="Standard"></input><span class="slider"></span><span class="slider-label">Optionen reduzieren</span></label></div>'
                var code = document.createElement("div");
                code.innerHTML = html;
                target.insertBefore(code, target.firstChild);
                register_checkbox(uid, prefix_class)
                var checkbox_cookie = getCookie(uid);
                if (checkbox_cookie != null) {
                    var checkbox = document.getElementById("#checkbox_" + uid);
                    if (checkbox_cookie == "true") {
                        checkbox.checked = true
                        checked(checkbox, uid, prefix_class);
                    }
                    if (checkbox_cookie == "false") {
                        checkbox.checked = false
                        checked(checkbox, uid, prefix_class);
                    }
                }
            }
            create_checkbox(document.querySelector("body").id, "simplify_moodle");
        }
    }

    // main
    obj = new ScriptMoodleSimplify();
    if (obj.pages.indexOf(document.querySelector("body").id) > -1 || obj.pages.indexOf("all") > -1) {
        obj.call();
    }
</script>

<style>
    #simplify_checkbox {
  position: relative;
  display: block;
  width: 230px;
  margin-left: auto;
  margin-right: 0px;
  padding: 8px 10px 1px 10px;
  color: #333;
  border-color: #412a2a;
  background-color: unset;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px !important;
  float: right;
  bottom: 20px;
}
#simplify_checkbox:hover {
  color: #333;
  background-color: #fafafa;
  border-color: #666;
  background-color: unset;
}
#simplify_checkbox label {
  width: 60px;
  height: 34px;
  display: inline-block;
  position: relative;
}
#simplify_checkbox label input {
  opacity: 0;
  width: 0;
  height: 0;
}
#simplify_checkbox label input:checked + .slider:before {
  transform: translateX(26px);
}
#simplify_checkbox label input:checked + .slider {
  background-color: #2196F3;
}
#simplify_checkbox label input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
#simplify_checkbox label input + .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
#simplify_checkbox label .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
#simplify_checkbox label .slider-label {
  position: absolute;
  margin-left: 60px;
  width: 160px;
  padding-top: 8px;
}

.simplify_moodle {
  /* In course */
  /* In Forum */
  /* Activities */
  /* Submissions */
  /* Page */
}
.simplify_moodle fieldset#id_groups,
.simplify_moodle fieldset#id_rolerenaming,
.simplify_moodle fieldset#id_tagshdr,
.simplify_moodle fieldset#id_completionhdr,
.simplify_moodle fieldset#id_filehdr,
.simplify_moodle fieldset#id_appearancehdr,
.simplify_moodle div#fitem_id_idnumber,
.simplify_moodle div#fitem_id_visible {
  display: none;
}
.simplify_moodle fieldset#id_availability,
.simplify_moodle fieldset#id_attachmentswordcounthdr,
.simplify_moodle fieldset#fitem_id_trackingtype,
.simplify_moodle fieldset#fitem_id_trackingtype,
.simplify_moodle fieldset#id_modstandardratings,
.simplify_moodle fieldset#id_discussionlocking,
.simplify_moodle fieldset#id_blockafterheader,
.simplify_moodle fieldset#id_grade_forum_header,
.simplify_moodle fieldset#id_availabilityconditionsheader,
.simplify_moodle fieldset#id_competenciessection {
  display: none;
}
.simplify_moodle fieldset#id_modstandardelshdr fieldset#id_modstandardelshdr,
.simplify_moodle fieldset#id_modstandardelshdr fieldset#id_availabilityconditionsheader,
.simplify_moodle fieldset#id_tagshdr fieldset#id_modstandardelshdr,
.simplify_moodle fieldset#id_tagshdr fieldset#id_availabilityconditionsheader, fieldset#id_competenciessection .simplify_moodle#page-mod-resource-mod fieldset#id_modstandardelshdr,
fieldset#id_competenciessection .simplify_moodle#page-mod-resource-mod fieldset#id_availabilityconditionsheader {
  display: none;
}
.simplify_moodle#page-mod-assign-mod fieldset#id_groupsubmissionsettings,
.simplify_moodle#page-mod-assign-mod fieldset#id_notifications {
  display: none;
}
.simplify_moodle#page-mod-page-mod #id_appearancehdr {
  display: none;
}

#nav-drawer .list-group-item,
#nav-drawer .list-group-item-action {
  color: var(--primary);
  padding-left: 20px;
}
#nav-drawer .list-group-item .fa,
#nav-drawer .list-group-item-action .fa {
  font-size: 0.9375rem;
}
#nav-drawer .list-group-item .fa:before,
#nav-drawer .list-group-item-action .fa:before {
  color: #444;
}
#nav-drawer .list-group-item:hover,
#nav-drawer .list-group-item-action:hover {
  border-left: 4px solid #666;
  padding-left: 17px;
}
#nav-drawer .list-group-item.active {
  background-color: #eee;
  border-left: 4px solid #666;
  border-top: 0px solid gray;
  border-right: 0px solid gray;
  color: var(--primary);
  padding-left: 17px;
}
#nav-drawer .list-group-item.active .fa:before {
  color: #444;
}
#nav-drawer .list-group-item[data-key=mycourses] {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 200;
  border-left: 0px solid gray;
  border: 0px solid gray;
  padding-left: 20px;
  color: #666;
  padding-bottom: 8px;
}

#page-navbar .breadcrumb li span.no-link {
  background-color: #eee;
  border-color: #eee;
}
#page-navbar .breadcrumb li.breadcrumb-item > * {
  background-color: #eee;
  border-color: #eee;
}
#page-navbar .breadcrumb li.breadcrumb-item > * {
  color: var(--primary);
}

.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:focus-within {
  background-color: transparent;
}

.dropdown-menu .dropdown-item a,
.dropdown-menu a.dropdown-item {
  color: #222;
}

.dropdown-menu .dropdown-item a:active,
.dropdown-menu .dropdown-item a:hover,
.dropdown-menu .dropdown-item a:focus,
.dropdown-menu .dropdown-item a:focus-within,
.dropdown-menu a.dropdown-item:active,
.dropdown-menu a.dropdown-item:hover,
.dropdown-menu a.dropdown-item:focus,
.dropdown-menu a.dropdown-item:focus-within {
  background-color: #f5f5f5;
  color: #222;
}

.aabtn.focus,
.btn-link.focus,
.nav-link.focus,
.atto_link_button.focus,
[role=button].focus,
.list-group-item-action.focus,
input[type=checkbox].focus,
input[type=radio].focus,
input[type=file].focus,
input[type=image].focus,
.sr-only-focusable.focus,
a.dropdown-toggle.focus,
.modal-dialog[tabindex="0"].focus,
.moodle-dialogue-base .closebutton.focus,
button.close.focus,
.form-autocomplete-selection.focus,
.aabtn:focus,
.btn-link:focus,
.nav-link:focus,
.atto_link_button:focus,
[role=button]:focus,
.list-group-item-action:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input[type=file]:focus,
input[type=image]:focus,
.sr-only-focusable:focus,
a.dropdown-toggle:focus,
.modal-dialog[tabindex="0"]:focus,
.moodle-dialogue-base .closebutton:focus,
button.close:focus,
.form-autocomplete-selection:focus {
  box-shadow: none;
}

aside section.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
</style>
