<script class="script-block">
    /* 
     * This Script replaces Course Tiles with Lists in SPH Layout
     */
    class CoursesAsList {

        constructor() {
            this.pages = ["all"];
            this.enabled = true;
        }

        call() {
            if (this.enabled) {
                document.querySelector("body").classList.add("coursesaslist")
            }

            if (this.enabled) {
                document.querySelector("body").classList.add("coursesaslist")
            }
        }
    }

    // main
    obj = new CoursesAsList();
    if (obj.pages.indexOf(document.querySelector("body").id) > -1 || obj.pages.indexOf("all") > -1) {
        obj.call();
    }
</script>

<style>
    body.coursesaslist .courses.card-deck {
        display: block;
    }

    body.coursesaslist .courses.card-deck .card {
        border: 0px solid grey;
        width: 100% !important;
    }

    body.coursesaslist .courses.card-deck .card {
        border: 1px solid #ddd;
        min-height: 100px;
    }

    body.coursesaslist .courses.card-deck .card .card-img {
        top: 20px;
        left: 20px;
        position: absolute;
        border: 1px solid lightgrey;
        width: 60px !important;
        height: 60px !important;
        border-radius: 30px;
        margin: 0px !important;
    }

    body.coursesaslist .courses.card-deck .card .card-body {
        margin-left: 80px;
    }


    body.coursesaslist .aalink.focus,
    body.coursesaslist #page-footer a:not([class]).focus,
    body.coursesaslist .arrow_link.focus,
    body.coursesaslist a:not([class]).focus,
    body.coursesaslist .activityinstance>a.focus,
    body.coursesaslist .aalink:focus,
    body.coursesaslist #page-footer a:not([class]):focus,
    body.coursesaslist .arrow_link:focus,
    body.coursesaslist a:not([class]):focus,
    body.coursesaslist .activityinstance>a:focus {
        box-shadow: none;
    }

    /* Kurse */
</style>