<script class="script-block">
    /* 
     * This Script replaces Course Tiles with Lists in SPH Layout
     */
    class CourseCategoriesAsList {

        constructor() {
            this.pages = ["all"];
            this.enabled = true;
        }

        call() {
            if (this.enabled) {
                document.querySelector("body").classList.add("coursecategoriesaslist")
            }

            if (this.enabled) {
                document.querySelector("body").classList.add("coursecategoriesaslist")
            }
        }
    }

    // main
    obj = new CourseCategoriesAsList();
    if (obj.pages.indexOf(document.querySelector("body").id) > -1 || obj.pages.indexOf("all") > -1) {
        obj.call();
    }
</script>

<style>
    body.coursecategoriesaslist .subcategories {
        display: block;
    }

    body.coursecategoriesaslist .subcategories.card-deck .card {
        min-height: 100px;
        border: 0px solid grey;
        width: 100% !important;
    }

    body.coursecategoriesaslist .subcategories.card-deck .card>a {
        border: 1px solid #ddd;
        min-height: 100px;
    }

    .course_category_tree .subcategories .card>a:hover,
    body.coursecategoriesaslist .subcategories .card>a:hover {
        background-color: #eff5fa
    }


    body.coursecategoriesaslist .course_category_tree .subcategories .card .fa,
    body.coursecategoriesaslist .course_category_tree .subcategories .card .card-img {
        top: 20px;
        left: 20px;
        position: absolute;
        border: 1px solid lightgrey;
        width: 60px !important;
        height: 60px !important;
        border-radius: 30px;
        margin: 0px !important;
        border-radius: 8px;
    }

    body.coursecategoriesaslist .course_category_tree .subcategories .card>a:hover .card-img {
        transform: scale(1.1);
        opacity: 1;
    }

    .course_category_tree .subcategories .card .card-footer,
    body.coursecategoriesaslist .subcategories .card-footer {
        margin-left: 100px;
        border: none !important;
        margin-top: 30px !important;
        line-height: 16px;
        background-color: transparent;
    }

    body.coursecategoriesaslist .subcategories .card.dashboard-card .fa {
        font-size: 30px;
        line-height: 60px;
    }

    body.coursecategoriesaslist .course_category_tree .subcategories .card:focus-within,
    body.coursecategoriesaslist .course_category_tree .subcategories .card:focus-visible,
    body.coursecategoriesaslist .course_category_tree .subcategories .card:hover,
    body.coursecategoriesaslist .course_category_tree .subcategories .card:focus,
    body.coursecategoriesaslist .course_category_tree .subcategories .card:active {
        background-color: transparent;
    }

    body.coursecategoriesaslist .course_category_tree .subcategories .card:hover i.fa {
        color: var(--primary);
    }

    body.coursecategoriesaslist .subcategories .aalink.focus,
    body.coursecategoriesaslist .subcategories #page-footer a:not([class]).focus,
    body.coursecategoriesaslist .subcategories .arrow_link.focus,
    body.coursecategoriesaslist .subcategories a:not([class]).focus,
    body.coursecategoriesaslist .subcategories .activityinstance>a.focus,
    body.coursecategoriesaslist .subcategories .aalink:focus,
    body.coursecategoriesaslist .subcategories #page-footer a:not([class]):focus,
    body.coursecategoriesaslist .subcategories .arrow_link:focus,
    body.coursecategoriesaslist .subcategories a:not([class]):focus,
    body.coursecategoriesaslist .subcategories .activityinstance>a:focus {
        box-shadow: none;
    }

    /* Kurse */
</style>