<script src="/lib/jquery/jquery-3.5.1.js"></script>
<script class="script-block">
    /* 
     * This Script replaces Start Button from SPH
     */
    class FachkurseImKlassenkurs {

        constructor() {
            this.pages = ["page-course-view-topics"];
        }

        call() {
            document.addEventListener("DOMContentLoaded", function(event) {
                var sectionname = $('.section .sectionname:contains("Fachkurse")');
                if (sectionname != null) {
                    var section = sectionname.parent();
                    var fachkursliste = $('<div class="fachkursliste">Fachkurse</div>')
                    section.append(fachkursliste);

                    try {
                        var htmltext = $.ajax({
                            // get courses in category
                            url: $(".breadcrumb .breadcrumb-item:nth-last-child(2) a").attr('href'),
                            async: false,
                            dataType: "html",
                            cache: false,
                            complete: function(request) {
                                var courses_page = $(request.responseText)
                                var fachkursliste_inner = courses_page.find(".category-browse")
                                fachkursliste.append(fachkursliste_inner)
                                fachkursliste_inner.find('span:contains("Klasse")').closest(".card").remove();
                            },
                        }).responseText;
                    } catch (e) {
                        console.log('Fehler beim Linkermitteln: ' + e);
                    }
                }
            });

        }

    }

    // main
    obj = new FachkurseImKlassenkurs();
    if (obj.pages.indexOf(document.querySelector("body").id) > -1 || obj.pages.indexOf("all") > -1) {
        obj.call();
    }
</script>