<script src="/lib/jquery/jquery-3.5.1.js"></script>
<script class="script-block">
    /* 
     * Hides menu links for pupils
     */
    class ViewByUserRole {

        constructor() {
            this.pages = ["all"];
        }

        call() {
            var teacher = false;
            if ($('#nav-drawer li span.media-body:contains("Lehrerzimmer")').length) {
                teacher = true;
            }
            if (teacher != true) {
                $("nav .navbar-nav > li:nth-child(6) a").parent().hide();
                $("nav .navbar-nav > li:nth-child(5) .dropdown-menu a:nth-child(5)").hide();
                $("nav .navbar-nav > li:nth-child(5) .dropdown-menu a:nth-child(6)").hide();
            }

        }

    }

    // main
    obj = new ViewByUserRole();
    if (obj.pages.indexOf(document.querySelector("body").id) > -1 || obj.pages.indexOf("all") > -1) {
        obj.call();
    }
</script>